/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-ott-2013, 7.26.38
    Author     : sideral
*/

html, body{
	margin:0px;
	padding:0px;
	background:#222;
}

header{
	width:1149px;
	margin:10px auto;
}

h1{
	text-align:center;
	font-weight: bolder;
	font-size: 48px;
	color:#eee;
	font-family: 'Codystar', cursive;
}

h2{
	text-align:center;
	font-size: 25px;
	font-family: 'Codystar', cursive;
	margin-bottom:10px;
	color:#ffff03;
}

#playground{
	width:1149px;
	height:571px;
	margin:auto;
	position:relative;
}

.error{
	margin:150px auto;
	width:600px;
	color:#d10000;
	font-size:50px;
	text-align:center;
	font-family: 'Creepster', serif;
}

.character-selector{
	width: 385px;
	margin: 50px auto;
	text-align: center;
}

.character-selector .player{
	border:solid 1px #666;
	position:static;
	float:left;
	background-color:#fff;
	cursor:pointer;
}

.character-selector .player:hover{
	background-color:#ccc;
}

.player.selected{
	background-color:#ffff03;
}

.player.selected:hover{
	background-color:#ffff03;
}

.player.disabled{
	visibility: hidden;
}

.grid{
	width:100%;
	height:100%;
	background:#fff;
	border-right:solid #ccc 1px;
	border-bottom:solid #ccc 1px;
}

.cell{
	width:81px;
	height:94px;
	border-left:solid #ccc 1px;
	border-top:solid #ccc 1px;
	float:left;
}

.player{
	width:75px;
	height: 88px;
	background: url('sprites.png') no-repeat;
	position:absolute;
	left:0px;
	top:0px;
}

.player.myself{z-index:10000;}

.player.a1{background-position: 7px -3px;}
.player.a2{background-position: -91px -3px;}
.player.a3{background-position: -189px -3px;}
.player.a4{background-position: -286px -3px;}
.player.a5{background-position: -384px 1px;}
.player.b1{background-position: 7px -105px;}
.player.b2{background-position: -91px -105px;}
.player.b3{background-position: -189px -105px;}
.player.b4{background-position: -286px -102px;}
.player.b5{background-position: -384px -105px;}
.player.c1{background-position: 7px -205px;}
.player.c2{background-position: -91px -205px;}
.player.c3{background-position: -189px -205px;}
.player.c4{background-position: -286px -205px;}
.player.c5{background-position: -384px -205px;}
.player.d1{background-position: 7px -314px;}
.player.d2{background-position: -91px -314px;}
.player.d3{background-position: -189px -314px;}
.player.d4{background-position: -286px -310px;}
.player.d5{background-position: -384px -314px;}

.player.shot{
	background-color:red;
}

.start {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	background-color:#f0c911;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #e65f44;
	display:inline-block;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
}
.start:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
	background-color:#f2ab1e;
}.start:active {
	position:relative;
	top:1px;
}